@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Parcial Programación V</h1>
    <img src="~/img/Mati.jpeg" alt="Logo de tu institución" style="height: 500px;" style="weight: 500px;">
    <h2>Matias Chámarez</h2>
</div>
